body{
    text-align: center;
    font:size: 2em;
    background-image: url(/images/bg_main.jpg);
    color: white;
    background-size: cover;
}

input{
    margin: 5px;
    padding: 5px;
    width: 20%;
}

label {
    font-weight: bold;
}